.topnavbar {
    background-color: #F2b33d;
}

.baner {
    background-color: #F2b33d;
    height: 200px;
}

.button-color {
    background-color: #a66249;
    background-color: #bf2633;
    color: #FFFFFF;
}

.label-color {
    color: #fff;
}

.baner-image{

}
